In [1]:
import pandas as pd

In [34]:
df = pd.read_csv('examples/sample_data/ft/prom-core/3/train.tsv', sep='\t')
df

       ACATCAGGTTACCTCTACCAAGG  1
0      CTGATGCCAGCTAGTGGGCGAGG  0
1      CTGTTTCCCATCCTTCCGGGTGG  1
2      AATGTATGCACAGGGAACAGAGG  0
3      CCAGACTCACCCGCTTGCCCAGG  1
4      CATCAGACGCCTCCAGCCGCCGG  1
...                        ... ..
14667  CACACAGTGTCCAGATACGAGGG  1
14668  CCAAATCCCAAACCTTACCCTGG  1
14669  CATCGATGTGTGCTGTGGCCAGG  0
14670  GCTCTTGGAGATGTACAGGAAGG  1
14671  GATGGAAATGGGCTTCCGCATGG  1

[14672 rows x 2 columns]

In [35]:
def space(string):
    new_string=''
    for i in range(4):
        new_string+=string[i*6:(i+1)*6]+' ' if i!=3 else string[i*6:(i+1)*6]
    return new_string

In [32]:
string = 'GAGAACGGAAAGGAGAAGGGCGG'
space(string)

'GAGAAC GGAAAG GAGAAG GGCGG'

In [36]:
df['ACATCAGGTTACCTCTACCAAGG']= df['ACATCAGGTTACCTCTACCAAGG'].apply(space)
df.to_csv('examples/sample_data/ft/prom-core/3/dev.csv',index=False)

In [38]:
'../models/6mer/'.split("-")[-1].split("/")[0]
int('..')

ValueError: invalid literal for int() with base 10: '..'